main{

    .proyectos{
        font-size: 30px;
        text-align: center;
        padding-top: 2.8%;
        line-height: normal;
    }
    .proyectosImagenes{
        display: $contenedor-flex;
        width: 100%;
        padding: 3%;margin: 2%;
        .slide{
            width: 75%;
            .carousel-inner{
                .carousel-item{
                    padding: 2%;
                }

            }
        }        
        
    }
    .proyectosImagenes2{
        display: $contenedor-flex;
        width: 100%;
        padding: 3%;margin: 2%;
        .slide{
            width: 75%;
            .carousel-inner{
                .carousel-item{
                    padding: 2%;
                }

            }
        }        
        
    }
    
    }   
    

@media screen and (max-width: 500px){
    main{
        .proyectos{
            padding: 5%;
            text-align: center;
        }        
        .proyectosImagenes{
        display: inline-block;
        width:96%;        
            .carousel{
                width: 100%;
                .carousel-inner{
                    width: 100%;
                    .carousel-item{
                        width: 100%;
                        .d-block{
                            width: 100%;

                        }

                    }
                }

            }

        }
        .proyectosImagenes2{
            display: inline-block;
            width:96%;        
                .carousel{
                    width: 100%;
                    .carousel-inner{
                        width: 100%;
                        .carousel-item{
                            width: 100%;
                            .d-block{
                                width: 100%;
    
                            }
    
                        }
                    }
    
                }
    
            }
    }     

}

@media screen and (min-width: 750px) and (max-width: 1020px){
    main{
        .proyectos{
            padding: 3%;
            text-align: center;
        }
        .proyectosImagenes{
        display: inline-block;
        width:44%;        
            .carousel{
                width: 120%;
                .carousel-inner{
                    width: 100%;
                    .carousel-item{
                        width: 100%;
                        .d-block{
                            width: 100%;

                        }

                    }
                }

            }

        }
        
    }     

}
