main{
    .encabezado{
        display:$contenedor-flex;
        justify-content: space-between;
        .titulo{
            font-size: 70px;
            padding: 5%;width: 40%;
            .subtitulo{
                font-size: 25px;
                line-height: 40px;
                font-family: 'Lato', sans-serif;
            }
        }
        .aimacionSuperior{
            width: 50%;
            margin-right: 0%;
            overflow: hidden;
            
            .animacionSuperiorLista{
                display: flex;                
                width: 300%;
                list-style: none;
                
                animation: animacionSuperior 20s infinite;               
                
                
                .card-img2{
                    width: 100%;
                    display: $contenedor-flex;                    
                    list-style: none;}
            }
        }
        
    }
    .bocetos{
        display: flex;
        padding: 5%;
        .imagenBoceto{
            width: 55%;
            height: 10%;
        }
        .titulo2{font-size: 50px;
            padding: 3%;
            margin-left: 9%;
            .subtitulo2{
                font-size: 25px;
                line-height: 40px;
                font-family: 'Lato', sans-serif;
            }        
    }
    
    }
    .franja{
        background-color: $color-quinto;
        .cuerpo{
            display: $contenedor-flex;
            width: 50%;height: auto;
            text-align: center;color: $color-secundario;
            background-color: $color-quinto;
            .col-sm-6{
                .card{
                    border: none;
                    background-color: $color-quinto;
                    height: 10%;margin-top: 3%;
                    .card-body{
                        margin-left: 15%;
                        margin-right: 15%;
                        margin-top: 4%;
                        .card-title{
                            font-size: 25px;
                        }
                    }
                }
                
            }
        }
    }    
    .iconoFlecha{
        width: 10%;
         font-size: 60px;
         color:$color-secundario ;
         &:hover{
            color:$color-rojo;
        }
        }
        
.iconoFlecha3{
    font-size: 60px;
    color:$color-secundario;
    display: $contenedor-flex;
    text-decoration: none;padding-left: 2%;
    padding-top: -2%;
    &:hover{
        color:$color-rojo;
    }
}
.cardDesarrollo{
    padding: 3%;
    .card-title{
        font-size: 25px;
        padding: 3%;
    }
    .card-textF{
        font-size: 17px;
    }
} 
  
    
}

@keyframes animacionSuperior{
    0% {margin-left: 0; }  
    20% {margin-left: 0; }
    
    25% {margin-left: -100%; }  
    45% {margin-left: -100%; } 

    50% {margin-left: -200%; }  
    100% {margin-left: -200%; }   
     
    
}


@media screen and (max-width: 500px){
    main{
        .encabezado{
            display: block;
            .titulo{
                font-size: 70px;
                width: 100%;
                text-align: center;               
                .subtitulo{

                }

            }
            .aimacionSuperior{
                width: 105%;
                margin-left: -5%;
                .animacionSuperiorLista{
                    .card-img2{
                        display: block;
                        width: 155%;
                    }
                }
            }
                        
        }
        .bocetos{
            display: inline-block;
            width: 100%;
            .imagenBoceto{
                width: 100%;
                padding: 5%;
                
            }
            .titulo2{
                text-align: center;
                margin-left: 2%;
                .subtitulo2{
    
                }
    
            }
        }       
        .franja{
            .cuerpo{
                display: block;
                width: 100%;
                height: auto;
                .col-sm-6{
                    .card{
                        .card-body{
                            .card-title{

                            }
                            .card-text{

                            }
                            .iconoFlecha{

                            }

                        }

                    }

                }
            }

        }      

    }   

}

@media screen and (min-width: 750px) and (max-width: 1020px){
    main{
        .encabezado{
            display: block;
            .titulo{
                font-size: 70px;
                width: 100%;                             
                .subtitulo{

                }

            }
            .aimacionSuperior{
                width: 100%;
                .animacionSuperiorLista{
                    .card-img2{
                        display: block;
                        width: 100%;
                    }
                }

            }
            
                        
        }
        .bocetos{
            display: inline-block;
            width: 100%;
            .imagenBoceto{
                width: 100%;
                padding: 5%;
                
            }
            .titulo2{
                .subtitulo2{
    
                }
    
            }
        }       
      
        .franja{ 
                              
            
            .cuerpo{ 
                width: 100%;
                height: auto;
                overflow: hidden;
                padding-left: 10%;
                justify-content: center;                                             
            display: grid;            
            grid-template-columns: 50% 50%;                       
               
                .col-sm-6{
                    
                    .card{
                        .card-body{
                            width: 100%;                           
                            .card-title{

                            }
                            .card-text{

                            }
                            .iconoFlecha{

                            }

                        }

                    }

                }
            }

        }      

    }   

}
