main{
    .tercerBloque{
        width: 100%;
        height: 100%;
        .card-header{
            height: 50px;
        }
        .card-body2{
            background-color: $color-quinto;
            color: $color-secundario;
            padding: 4%;
            .experienciaBtl{
                font-size: 25px;
                font-family:$fuente-general;
            }
            .card-textBTL{
                font-size: 40px;
            }
            .acceso{
                display:$contenedor-flex ;
                justify-content: $justify-center;
            }
        }
    }

}

@media screen and (max-width: 500px){
    main{
        .tercerBloque{
            .card{
                .card-body2{
                    .experienciaBtl{
                        font-size: 90%;
                    }
                    .card-textBTL{
                        font-size: 200%;
                    }
                    .acceso{
                        .iconoFlecha3{

                        }

                    }

                }

            }

        }
    }

}















