@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Tilt+Warp&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: url(../IMG/fondo5.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

nav {
  color: rgb(255, 255, 255);
}
nav .container-fluid {
  width: 100%;
  height: 1%;
  align-items: center;
  display: flex;
  background-color: rgb(133, 133, 133);
  font-size: 20px;
}
nav .container-fluid .collapse {
  width: 50%;
}
nav .container-fluid .collapse .navbar-nav {
  display: flex;
  width: 100%;
}
nav .container-fluid .collapse .navbar-nav .nav-item {
  padding: 2%;
}
nav .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  display: flex;
  width: 100%;
}
nav .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: rgb(0, 0, 0);
}

main .encabezado {
  display: flex;
  justify-content: space-between;
}
main .encabezado .titulo {
  font-size: 70px;
  padding: 5%;
  width: 40%;
}
main .encabezado .titulo .subtitulo {
  font-size: 25px;
  line-height: 40px;
  font-family: "Lato", sans-serif;
}
main .encabezado .card-img2 {
  display: flex;
  width: 55%;
  margin-left: -55%;
}
main .titulo2 {
  font-size: 50px;
  padding: 5%;
}
main .titulo2 .subtitulo2 {
  font-size: 25px;
  line-height: 40px;
  font-family: "Lato", sans-serif;
}
main .franja {
  background-color: rgb(255, 255, 255);
}
main .franja .cuerpo {
  display: flex;
  width: 51%;
  height: auto;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
main .franja .cuerpo .col-sm-6 .card {
  border: none;
  background-color: rgb(255, 255, 255);
  height: 10%;
  margin-top: 3%;
}
main .franja .cuerpo .col-sm-6 .card .card-body {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;
}
main .franja .cuerpo .col-sm-6 .card .card-body .card-title {
  font-size: 25px;
}
main .iconoFlecha {
  width: 10%;
  font-size: 60px;
  color: rgb(133, 133, 133);
}
main .iconoFlecha:hover {
  color: crimson;
}
main .iconoFlecha3 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  display: flex;
  text-decoration: none;
  padding-left: 2%;
  padding-top: -2%;
}
main .iconoFlecha3:hover {
  color: crimson;
}
main .cardDesarrollo {
  padding: 3%;
}
main .cardDesarrollo .card-title {
  font-size: 25px;
  padding: 3%;
}
main .cardDesarrollo .card-textF {
  font-size: 17px;
}

@media screen and (max-width: 500px) {
  main .encabezado {
    display: block;
  }
  main .encabezado .titulo {
    font-size: 70px;
    width: 100%;
  }
  main .encabezado .card-img2 {
    display: block;
    width: 155%;
  }
  main .franja .cuerpo {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 750px) and (max-width: 1020px) {
  main .encabezado {
    display: block;
  }
  main .encabezado .titulo {
    font-size: 70px;
    width: 100%;
  }
  main .encabezado .card-img2 {
    display: block;
    width: 155%;
  }
  main .franja .cuerpo {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-left: 10%;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  main .franja .cuerpo .col-sm-6 .card .card-body {
    width: 100%;
  }
}
main .tercerBloque {
  width: 100%;
  height: 100%;
}
main .tercerBloque .card-header {
  height: 50px;
}
main .tercerBloque .card-body2 {
  background-color: rgb(73, 73, 73);
  color: rgb(255, 255, 255);
  padding: 4%;
}
main .tercerBloque .card-body2 .experienciaBtl {
  font-size: 25px;
  font-family: "Shantell Sans", cursive;
}
main .tercerBloque .card-body2 .card-textBTL {
  font-size: 40px;
}
main .tercerBloque .card-body2 .acceso {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  main .tercerBloque .card .card-body2 .experienciaBtl {
    font-size: 90%;
  }
  main .tercerBloque .card .card-body2 .card-textBTL {
    font-size: 200%;
  }
}
.portafolio {
  display: flex;
  overflow: hidden;
}
.portafolio .movimientoPorta {
  width: 400%;
  height: auto;
  animation-name: galeriaPrincipal;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes galeriaPrincipal {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}
.pieDepagina .cierre {
  display: flex;
  background-color: rgb(255, 255, 255);
}
.pieDepagina .cierre .logoinferior {
  width: 15%;
  height: auto;
}
.pieDepagina .nav {
  width: 100%;
  align-items: center;
}
.pieDepagina .nav .nav-item4 {
  padding-left: 3%;
}
.pieDepagina .nav .nav-item4 .nav-link2 {
  text-decoration: none;
  color: rgb(73, 73, 73);
  font-size: 130%;
  width: 50%;
}
.pieDepagina .nav .nav-item4 .nav-link2:hover {
  color: rgb(12, 141, 228);
}
.pieDepagina .nav .nav-item4 .nav-link {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.pieDepagina .nav .redesSociales {
  display: flex;
  width: 20%;
  justify-content: space-around;
  margin-left: 5%;
}
.pieDepagina .nav .redesSociales .iconotamaño {
  display: flex;
  justify-content: space-around;
  width: 10%;
  color: rgb(133, 133, 133);
  font-size: 60px;
  text-decoration: none;
}
.pieDepagina .nav .redesSociales .iconotamaño .fa-instagram:hover {
  color: rgb(255, 12, 133);
}
.pieDepagina .nav .redesSociales .iconotamaño .fa-whatsapp:hover {
  color: rgb(53, 245, 6);
}
.pieDepagina .nav .redesSociales .iconotamaño .fa-facebook:hover {
  color: rgb(12, 141, 228);
}

@media screen and (max-width: 500px) {
  .pieDepagina .cierre .logoinferior {
    display: none;
  }
  .pieDepagina .cierre .nav {
    display: flex;
    width: 100%;
    margin-left: 7%;
  }
  .pieDepagina .cierre .nav .nav-item4 .nav-link2 {
    font-size: 20px;
  }
  .pieDepagina .cierre .nav .nav-item4 .nav-link {
    font-size: 20px;
  }
  .pieDepagina .cierre .redesSociales {
    display: flex;
    width: 100%;
    margin-right: 8%;
  }
  .pieDepagina .cierre .redesSociales .iconotamaño {
    display: flex;
    width: 100%;
    padding: 4%;
  }
}
@media screen and (min-width: 750px) and (max-width: 1020px) {
  .pieDepagina .cierre .logoinferior {
    display: none;
  }
  .pieDepagina .cierre .nav {
    display: flex;
    width: 100%;
    margin-left: 7%;
  }
  .pieDepagina .cierre .nav .nav-item4 .nav-link2 {
    font-size: 20px;
  }
  .pieDepagina .cierre .nav .nav-item4 .nav-link {
    font-size: 20px;
  }
  .pieDepagina .cierre .redesSociales {
    display: flex;
    width: 100%;
    margin-right: 8%;
  }
  .pieDepagina .cierre .redesSociales .iconotamaño {
    display: flex;
    width: 100%;
    padding: 4%;
  }
}
.CierreAbajo {
  background-color: rgb(0, 0, 0);
}
.CierreAbajo .diseñadorindustrial {
  color: rgb(255, 255, 255);
  padding: 1%;
  justify-content: center;
  text-align: center;
}

main .proyectos {
  font-size: 30px;
  text-align: center;
  padding-top: 2.8%;
  line-height: normal;
}
main .proyectosImagenes {
  display: flex;
  width: 100%;
  padding: 3%;
  margin: 2%;
}
main .proyectosImagenes .slide {
  width: 75%;
}
main .proyectosImagenes .slide .carousel-inner .carousel-item {
  padding: 2%;
}
main .proyectosImagenes2 {
  display: flex;
  width: 100%;
  padding: 3%;
  margin: 2%;
}
main .proyectosImagenes2 .slide {
  width: 75%;
}
main .proyectosImagenes2 .slide .carousel-inner .carousel-item {
  padding: 2%;
}

@media screen and (max-width: 500px) {
  main .proyectosImagenes {
    display: inline-block;
    width: 96%;
  }
  main .proyectosImagenes .carousel {
    width: 100%;
  }
  main .proyectosImagenes .carousel .carousel-inner {
    width: 100%;
  }
  main .proyectosImagenes .carousel .carousel-inner .carousel-item {
    width: 100%;
  }
  main .proyectosImagenes .carousel .carousel-inner .carousel-item .d-block {
    width: 100%;
  }
  main .proyectosImagenes2 {
    display: inline-block;
    width: 96%;
  }
  main .proyectosImagenes2 .carousel {
    width: 100%;
  }
  main .proyectosImagenes2 .carousel .carousel-inner {
    width: 100%;
  }
  main .proyectosImagenes2 .carousel .carousel-inner .carousel-item {
    width: 100%;
  }
  main .proyectosImagenes2 .carousel .carousel-inner .carousel-item .d-block {
    width: 100%;
  }
}
@media screen and (min-width: 750px) and (max-width: 1020px) {
  main .proyectosImagenes {
    display: inline-block;
    width: 44%;
  }
  main .proyectosImagenes .carousel {
    width: 120%;
  }
  main .proyectosImagenes .carousel .carousel-inner {
    width: 100%;
  }
  main .proyectosImagenes .carousel .carousel-inner .carousel-item {
    width: 100%;
  }
  main .proyectosImagenes .carousel .carousel-inner .carousel-item .d-block {
    width: 100%;
  }
}
main .tituloContactos {
  font-size: 400%;
  padding-top: 5%;
  padding-left: 15%;
  width: 100%;
  height: 10%;
}
main .encabezadoContactos {
  display: flex;
}
main .encabezadoContactos .parrafoContactos {
  font-size: 20px;
  line-height: 40px;
  font-family: "Lato", sans-serif;
  text-align: start;
  width: 60%;
  display: flex;
  padding-left: 15%;
}
main .encabezadoContactos .imagenPersonal {
  width: 30rem;
  padding-left: 20%;
}
main .seccionMediaContacto {
  background-color: rgb(133, 133, 133);
  color: rgb(255, 255, 255);
  padding: 3%;
  display: flex;
}
main .seccionMediaContacto .EnQueteAyudo {
  font-family: "Shantell Sans", cursive;
  padding-left: 13%;
  padding-top: 7%;
}
main .seccionMediaContacto .cuadroDialogo {
  width: 30%;
}
main .seccionMediaContacto .cuadroDialogo .casilla {
  font-size: 140%;
  padding-left: 13%;
}
main .seccionMediaContacto .formularios {
  width: 40%;
  padding-right: 10%;
}
main .seccionMediaContacto .botonEnviar .btn-dark {
  background-color: rgb(133, 133, 133);
  justify-content: center;
}
main .mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  main .tituloContactos {
    padding-left: 20%;
  }
  main .encabezadoContactos {
    display: inline;
  }
  main .encabezadoContactos .parrafoContactos {
    width: 90%;
    margin-right: 10%;
    text-align: center;
  }
  main .encabezadoContactos .imagenPersonal {
    width: 100%;
    padding-right: 10%;
  }
  main .seccionMediaContacto {
    width: 100%;
    background-color: rgb(133, 133, 133);
    display: block;
  }
  main .seccionMediaContacto .EnQueteAyudo {
    padding-left: 27%;
  }
  main .seccionMediaContacto .cuadroDialogo {
    width: 100%;
    padding-left: 15%;
  }
  main .seccionMediaContacto .formularios {
    width: 100%;
    padding-left: 10%;
  }
  main .seccionMediaContacto .formularios .mb-3 .form-label {
    padding-left: 42%;
  }
  main .seccionMediaContacto .formularios .botonEnviar {
    padding-left: 41%;
  }
}
@media screen and (min-width: 750px) and (max-width: 1020px) {
  main .tituloContactos {
    text-align: center;
    padding-left: 5%;
  }
  main .encabezadoContactos {
    display: inline;
  }
  main .encabezadoContactos .parrafoContactos {
    width: 90%;
    margin-right: 10%;
    text-align: center;
  }
  main .encabezadoContactos .imagenPersonal {
    width: 70%;
    padding-left: 30%;
  }
  main .seccionMediaContacto {
    width: 100%;
    background-color: rgb(133, 133, 133);
    display: block;
  }
  main .seccionMediaContacto .EnQueteAyudo {
    padding-left: 33%;
  }
  main .seccionMediaContacto .cuadroDialogo {
    width: 100%;
    padding-left: 25%;
  }
  main .seccionMediaContacto .formularios {
    width: 100%;
    padding-left: 10%;
  }
  main .seccionMediaContacto .formularios .mb-3 .form-label {
    padding-left: 42%;
  }
  main .seccionMediaContacto .formularios .botonEnviar {
    padding-left: 41%;
  }
}
main .clientes {
  font-size: 30px;
  text-align: center;
  padding-top: 4%;
  line-height: normal;
}
main .galeriaClientes1 {
  width: 90%;
  display: flex;
  margin: 4%;
  padding: 2%;
}
main .galeriaClientes1 .galeriaImagenes1 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaClientes1 .galeriaImagenes1:hover::before {
  transform: scaleY(1);
}
main .galeriaClientes1 .galeriaImagenes1::before {
  content: "DEAGEO-ECUACOR";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaClientes1 .galeriaImagenes1 .galeria_img1 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes2 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes2:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes2::before {
  content: "KOALA COLOMBIA";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes2 .galeria_img2 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes3 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes3:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes3::before {
  content: "FERRERO LATINO";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes3 .galeria_img3 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes4 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes4:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes4::before {
  content: "PLAY DOH SOMBRILLA";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes4 .galeria_img4 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaClientes2 {
  width: 90%;
  display: flex;
  margin: 4%;
  padding: 2%;
}
main .galeriaClientes2 .galeriaImagenes5 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaClientes2 .galeriaImagenes5:hover::before {
  transform: scaleY(1);
}
main .galeriaClientes2 .galeriaImagenes5::before {
  content: "BIOMAX BOGOTA";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaClientes2 .galeriaImagenes5 .galeria_img5 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes6 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes6:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes6::before {
  content: "MICROSOFT X-BOX";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes6 .galeria_img6 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes7 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes7:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes7::before {
  content: "ADIDAS AMERICA";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes7 .galeria_img7 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes8 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes8:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes8::before {
  content: "FALABELLA COLOMBIA";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes8 .galeria_img8 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaClientes3 {
  width: 90%;
  display: flex;
  margin: 4%;
  padding: 2%;
}
main .galeriaClientes3 .galeriaImagenes9 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaClientes3 .galeriaImagenes9:hover::before {
  transform: scaleY(1);
}
main .galeriaClientes3 .galeriaImagenes9::before {
  content: "NUTRESA";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaClientes3 .galeriaImagenes9 .galeria_img9 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes10 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes10:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes10::before {
  content: "HERO-SANCHO";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes10 .galeria_img10 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes11 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes11:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes11::before {
  content: "PHILIPS MORGAN";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes11 .galeria_img11 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes12 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes12:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes12::before {
  content: "MATEL-MEXICO";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes12 .galeria_img12 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaClientes4 {
  width: 90%;
  display: flex;
  margin: 4%;
  padding: 2%;
}
main .galeriaClientes4 .galeriaImagenes13 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaClientes4 .galeriaImagenes13:hover::before {
  transform: scaleY(1);
}
main .galeriaClientes4 .galeriaImagenes13::before {
  content: "TERPEL-MEDELLIN";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaClientes4 .galeriaImagenes13 .galeria_img13 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes14 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes14:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes14::before {
  content: "MARGARITA";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes14 .galeria_img14 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes15 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes15:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes15::before {
  content: "PEPSI-REGIO";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes15 .galeria_img15 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .galeriaImagenes16 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main .galeriaImagenes16:hover::before {
  transform: scaleY(1);
}
main .galeriaImagenes16::before {
  content: "UNILEVER-LATINOAMERICA";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 133, 133, 0.842);
  width: 100%;
  height: 100%;
  padding: 10%;
  transform: scaleY(0);
  transition: transform 0.4s;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
main .galeriaImagenes16 .galeria_img16 {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 500px) {
  main .galeriaClientes1 {
    width: 100%;
    display: grid;
    grid-template-columns: 47% 47%;
  }
  main .galeriaClientes2 {
    width: 100%;
    display: grid;
    grid-template-columns: 47% 47%;
  }
  main .galeriaClientes3 {
    width: 100%;
    display: grid;
    grid-template-columns: 47% 47%;
  }
  main .galeriaClientes4 {
    width: 100%;
    display: grid;
    grid-template-columns: 47% 47%;
  }
}
.ServiciosBloque01 {
  display: flex;
  justify-content: center;
}
.ServiciosBloque01 .bloqueSuperior {
  padding-top: 5%;
  padding-left: 25%;
  width: 60%;
}
.ServiciosBloque01 .bloqueSuperior .tituloImagenCorporativa {
  font-size: 50px;
  width: 100%;
}
.ServiciosBloque01 .bloqueSuperior .textoImagenCorporativa {
  font-size: 25px;
  width: 80%;
}
.ServiciosBloque01 .bloqueSuperior .iconoFlecha2 {
  width: 10%;
  font-size: 60px;
  color: rgb(133, 133, 133);
  padding-left: 40%;
  padding-top: 3%;
}
.ServiciosBloque01 .bloqueSuperior .iconoFlecha2:hover {
  color: crimson;
}
.ServiciosBloque01 .imagenCorporatica {
  width: 15%;
  padding-top: 4%;
  margin-right: 25%;
  transition: all 1s;
}
.ServiciosBloque01 .imagenCorporatica:hover {
  width: 20%;
  transition: all 1s;
}

.ServiciosBloque02 {
  width: 100%;
  display: flex;
  background-color: rgb(73, 73, 73);
  padding: 4%;
}
.ServiciosBloque02 .imagenModelado3d {
  width: 20%;
  margin-left: 25%;
  height: 25%;
}
.ServiciosBloque02 .imagenModelado3d:hover {
  width: 25%;
  transition: all 1s;
}
.ServiciosBloque02 .bloqueModelado3d {
  padding-top: 4%;
  padding-right: 10%;
  margin-left: 10%;
}
.ServiciosBloque02 .bloqueModelado3d .tituloModelado3d {
  font-size: 50px;
  width: 60%;
  color: rgb(255, 255, 255);
  padding-right: 10%;
  text-align: center;
}
.ServiciosBloque02 .bloqueModelado3d .textoModelado3d {
  font-size: 25px;
  width: 65%;
  color: rgb(255, 255, 255);
}
.ServiciosBloque02 .bloqueModelado3d .iconoFlecha5 {
  width: 10%;
  font-size: 60px;
  color: rgb(255, 255, 255);
  padding-left: 40%;
  padding-top: 3%;
}
.ServiciosBloque02 .bloqueModelado3d .iconoFlecha5:hover {
  color: crimson;
}

.ServicosBloque03 {
  display: flex;
}
.ServicosBloque03 .bloqueInferior {
  padding-top: 5%;
  padding-left: 25%;
  width: 60%;
}
.ServicosBloque03 .bloqueInferior .tituloCreacionProyectos {
  font-size: 50px;
  width: 100%;
}
.ServicosBloque03 .bloqueInferior .textoCreacionProyectos {
  font-size: 25px;
  width: 80%;
}
.ServicosBloque03 .bloqueInferior .iconoFlecha4 {
  width: 10%;
  font-size: 60px;
  color: rgb(133, 133, 133);
  padding-left: 40%;
  padding-top: 3%;
}
.ServicosBloque03 .bloqueInferior .iconoFlecha4:hover {
  color: crimson;
}
.ServicosBloque03 .imagenXbox {
  width: 15%;
  padding-top: 4%;
  margin-right: 25%;
}
.ServicosBloque03 .imagenXbox:hover {
  width: 20%;
  transition: all 1s;
}

@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
  body .ServiciosBloque01 {
    display: inline-block;
  }
  body .ServiciosBloque01 .bloqueSuperior {
    width: 100%;
  }
  body .ServiciosBloque01 .imagenCorporatica {
    display: flex;
    width: 100%;
    transition: none;
  }
  body .ServiciosBloque01 .imagenCorporatica:hover {
    width: 100%;
    transition: none;
  }
  body .ServiciosBloque02 {
    display: inline-block;
  }
  body .ServiciosBloque02 .imagenModelado3d {
    display: flex;
    width: 108%;
    margin-left: -5%;
  }
  body .ServiciosBloque02 .imagenModelado3d:hover {
    width: 108%;
    transition: none;
  }
  body .ServiciosBloque02 .bloqueModelado3d {
    width: 90%;
    margin-left: 14%;
  }
  body .ServiciosBloque02 .bloqueModelado3d .tituloModelado3d {
    width: 100%;
  }
  body .ServiciosBloque02 .bloqueModelado3d .textoModelado3d {
    width: 100%;
  }
  body .ServicosBloque03 {
    display: inline-block;
  }
  body .ServicosBloque03 .bloqueInferior {
    width: 100%;
  }
  body .ServicosBloque03 .imagenXbox {
    display: flex;
    width: 100%;
    transition: none;
  }
  body .ServicosBloque03 .imagenXbox:hover {
    width: 100%;
    transition: none;
  }
}
@media screen and (min-width: 750px) and (max-width: 1020px) {
  body {
    width: 100%;
  }
  body .ServiciosBloque01 {
    display: flex;
  }
  body .ServiciosBloque01 .bloqueSuperior {
    width: 100%;
  }
  body .ServiciosBloque01 .imagenCorporatica {
    display: flex;
    width: 40%;
    height: 40%;
    margin-top: 5%;
    margin-left: 4%;
    transition: none;
  }
  body .ServiciosBloque01 .imagenCorporatica:hover {
    width: 40%;
    height: 40%;
    transition: none;
  }
  body .ServiciosBloque02 {
    display: flex;
  }
  body .ServiciosBloque02 .imagenModelado3d {
    display: flex;
    width: 40%;
    height: 40%;
    margin-top: 5%;
    margin-left: 4%;
    transition: none;
  }
  body .ServiciosBloque02 .imagenModelado3d:hover {
    width: 40%;
    height: 40%;
    transition: none;
  }
  body .ServiciosBloque02 .bloqueModelado3d {
    width: 90%;
    margin-left: 14%;
  }
  body .ServiciosBloque02 .bloqueModelado3d .tituloModelado3d {
    width: 100%;
  }
  body .ServiciosBloque02 .bloqueModelado3d .textoModelado3d {
    width: 100%;
  }
  body .ServicosBloque03 {
    display: flex;
    margin-left: -11%;
  }
  body .ServicosBloque03 .bloqueInferior {
    width: 100%;
  }
  body .ServicosBloque03 .imagenXbox {
    display: flex;
    width: 40%;
    height: 40%;
    margin-top: 5%;
    margin-left: 4%;
    transition: none;
  }
  body .ServicosBloque03 .imagenXbox:hover {
    width: 40%;
    height: 40%;
    transition: none;
  }
}/*# sourceMappingURL=estilos.css.map */